@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/res/login/normalize.css">
    <link rel="stylesheet" type="text/css" href="/res/login/demo.css">
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="/res/login/component.css">
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->

    <style type="text/css">
        #yddContainer {
            display: block;
            font-family: Microsoft YaHei;
            position: relative;
            width: 100%;
            height: 100%;
            top: -4px;
            left: -4px;
            font-size: 12px;
            border: 1px solid
        }

        #yddTop {
            display: block;
            height: 22px
        }

        #yddTopBorderlr {
            display: block;
            position: static;
            height: 17px;
            padding: 2px 28px;
            line-height: 17px;
            font-size: 12px;
            color: #5079bb;
            font-weight: bold;
            border-style: none solid;
            border-width: 1px
        }

            #yddTopBorderlr .ydd-sp {
                position: absolute;
                top: 2px;
                height: 0;
                overflow: hidden
            }

        .ydd-icon {
            left: 5px;
            width: 17px;
            padding: 0px 0px 0px 0px;
            padding-top: 17px;
            background-position: -16px -44px
        }

        .ydd-close {
            right: 5px;
            width: 16px;
            padding-top: 16px;
            background-position: left -44px
        }

        #yddKeyTitle {
            float: left;
            text-decoration: none
        }

        #yddMiddle {
            display: block;
            margin-bottom: 10px
        }

        .ydd-tabs {
            display: block;
            margin: 5px 0;
            padding: 0 5px;
            height: 18px;
            border-bottom: 1px solid
        }

        .ydd-tab {
            display: block;
            float: left;
            height: 18px;
            margin: 0 5px -1px 0;
            padding: 0 4px;
            line-height: 18px;
            border: 1px solid;
            border-bottom: none
        }

        .ydd-trans-container {
            display: block;
            line-height: 160%
        }

            .ydd-trans-container a {
                text-decoration: none;
            }

        #yddBottom {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            background-position: left -22px
        }

        .ydd-padding010 {
            padding: 0 10px
        }

        #yddWrapper {
            color: #252525;
            z-index: 10001;
            background: url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ab20.png);
        }

        #yddContainer {
            background: #fff;
            border-color: #4b7598
        }

        #yddTopBorderlr {
            border-color: #f0f8fc
        }

        #yddWrapper .ydd-sp {
            background-image: url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ydd-sprite.png)
        }

        #yddWrapper a, #yddWrapper a:hover, #yddWrapper a:visited {
            color: #50799b
        }

        #yddWrapper .ydd-tabs {
            color: #959595
        }

        .ydd-tabs, .ydd-tab {
            background: #fff;
            border-color: #d5e7f3
        }

        #yddBottom {
            color: #363636
        }

        #yddWrapper {
            min-width: 250px;
            max-width: 400px;
        }
    </style>
</head>
<body>

    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header" style="height: 588px;">
                <canvas id="demo-canvas" width="811" height="588"></canvas>
                <div class="logo_box">
                    <h3>生产管理系统，欢迎你</h3>
                    <form id="loginform" action="/Login/Login" name="f" method="post">
                        <div class="input_outer">
                            <span class="u_user"></span>
                            <input id="userName" name="userName" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">
                        </div>
                        <div class="input_outer">
                            <span class="us_uer"></span>
                            <input id="password" name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;" value="" type="password" placeholder="请输入密码">
                        </div>
                        <div class="mb2"><a id="btnLogin" class="act-but submit" href="javascript:submitForm();" style="color: #FFFFFF">登录</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /container -->
    <script src="/res/login/jquery-3.3.1.min.js"></script>
    <script src="/res/login/TweenLite.min.js"></script>
    <script src="/res/login/EasePack.min.js"></script>
    <script src="/res/login/rAF.js"></script>
    <script src="/res/login/demo-1.js"></script>
    <script>
        function submitForm() {
            userName = $("#userName").val();
            password = $("#password").val();
            $.post("/Login/Login", { userName: userName, password: password }, function (data, status, xhr) {
                jsonObject = JSON.parse(data);
                if (jsonObject.success == true)
                    window.location.href = '/Home/Index';
                else
                    alert("用户名或密码错误！");
            });
        }

        document.onkeyup = function (e) {//按键信息对象以函数参数的形式传递进来了，就是那个e
            var code = e.charCode || e.keyCode;  //取出按键信息中的按键代码(大部分浏览器通过keyCode属性获取按键代码，但少部分浏览器使用的却是charCode)
            if (code == 13) {
                //此处编写用户敲回车后的代码
                submitForm();
            }
        }
    </script>

</body>

</html>
